# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# IDE / Editor specific
.idea/
.vscode/

# Datasets - These are often too large for a Git repo
*.csv

# Evaluation results
rewriter_evaluation_results.csv

# Model directories
rewriter_model/
toxic_model/
cyber_model/